#compiled class file 
*.class

#log file
*.log

#package files
*.jar
*.war
*.ear
*.zip

#user defined
*.[oa]
nbproject/private/
build/
dist/
/ExperienceSystem/nbproject/private/
/ExperienceSystem/ExperienceSystem-war/nbproject/private/
/ExperienceSystem/ExperienceSystem-ejb/nbproject/private/
/ExperienceSystemLibrary/nbproject/private/
/ExperienceSystem/ExperienceSystemLibrary/nbproject/private/