/ExperienceSystem/ExperienceSystem-ejb/nbproject/*
/ExperienceSystem/ExperienceSystem-ejb/build/*

/ExperienceSystem/ExperienceSystem-war/nbproject/*
/ExperienceSystem/ExperienceSystem-war/build/*

/ExperienceSystem/ExperienceSystemLibrary/build/*
/ExperienceSystem/ExperienceSystemLibrary/nbproject/*

/ExperienceSystem/build/*
/ExperienceSystem/nbproject/*

/ExperienceSystem/ExperienceSystemEmployee-war/nbproject/*
/ExperienceSystem/ExperienceSystemEmployee-war/build/*
