<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>alternatedocroot_1</param-name>
        <param-value>/glassfish-4.1.1-mediaFiles</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    <ejb-local-ref>
        <ejb-ref-name>UserController</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>stateless.UserControllerLocal</local>
        <ejb-link>ExperienceSystem-ejb.jar#UserController</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ExperienceController</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>stateless.ExperienceControllerLocal</local>
        <ejb-link>ExperienceSystem-ejb.jar#ExperienceController</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ExperienceDateController</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>stateless.ExperienceDateControllerLocal</local>
        <ejb-link>ExperienceSystem-ejb.jar#ExperienceDateController</ejb-link>
        <ejb-ref-name>BookingController</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>stateless.BookingControllerLocal</local>
        <ejb-link>ExperienceSystem-ejb.jar#BookingController</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>LanguageController</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>stateless.LanguageControllerLocal</local>
        <ejb-link>ExperienceSystem-ejb.jar#LanguageController</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>EvaluationController</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>stateless.EvaluationControllerLocal</local>
        <ejb-link>ExperienceSystem-ejb.jar#EvaluationController</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>TypeController</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>stateless.TypeControllerLocal</local>
        <ejb-link>ExperienceSystem-ejb.jar#TypeController</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>LocationController</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>stateless.LocationControllerLocal</local>
        <ejb-link>ExperienceSystem-ejb.jar#LocationController</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>LanguageController1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>stateless.LanguageControllerLocal</local>
        <ejb-link>ExperienceSystem-ejb.jar#LanguageController</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CategoryController</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>stateless.CategoryControllerLocal</local>
        <ejb-link>ExperienceSystem-ejb.jar#CategoryController</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>UserController1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>stateless.UserControllerLocal</local>
        <ejb-link>ExperienceSystem-ejb.jar#UserController</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>BookingController1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>stateless.BookingControllerLocal</local>
        <ejb-link>ExperienceSystem-ejb.jar#BookingController</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>UserController2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>stateless.UserControllerLocal</local>
        <ejb-link>ExperienceSystem-ejb.jar#UserController</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>UserController3</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>stateless.UserControllerLocal</local>
        <ejb-link>ExperienceSystem-ejb.jar#UserController</ejb-link>
    </ejb-local-ref>
</web-app>
